*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #284b63;
}

.container {
    width: 800px;
    max-width: 80%;
    height: 500px;
    max-height: 80%;
    background-color: #f2e9e4;
    border-radius: 5px;
    padding: 10px;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin:20px 0;
}

.button {
    border-radius: 5px;
    padding: 5px 10px;
    color: #353535;
    outline: none;
}


.hide {
    display: none;
}

.rightAnswer{
    background: green;
}